{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <h1>Results of your search</h1>

        {% for entry, links, description in entries %}
        <div class="card">
          <div class="card-body">
                <h5 class="card-title">{{ entry }}</h5>
                <p class="card-text">{{description|safe}}</p>
                <a class="btn btn-primary btn-sm" href="/wiki/{{links}}">{{ entry }}</a>
          </div>
        </div>
        {% empty %}
        <div class="card">
          <div class="card-body">
                <h5 class="card-title">We found nothing</h5>
                <p class="card-text">Sorry about that, but you can search something else</p>
          </div>
        </div>
        {% endfor %}

{% endblock %}